---
import Layout from "../layouts/main.astro";
import Idea from "../components/Idea.astro";

import {IDEAS} from "../config"
import RandomizeButton from "../components/RandomizeButton.astro";

const ideas = Array.from(IDEAS.values());
function shuffle(array) {
    for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
}
shuffle(ideas)
---

<Layout title="Mod Ideas" description="Ideas and inspirations to help you make your SpookyJam mods!">

    <p>
        Are you having issues coming up with an idea for SpookyJam? Don't worry, this type of thing happens to everyone
        from time to time. The following list of ideas has been put together by our community to help inspire you! You
        can sort by tags <a href="./ideas/tag">here</a>.
    </p>

    <div class="grid place-content-center my-12">
        <RandomizeButton id="random-idea" label="🎃Im Feeling Spooky👻" base="/ideas/" paths={Array.from(IDEAS.keys())}/>
    </div>

    <p class="text-center">
        Have an idea you would like to see added to our list? You can submit it <a href="https://forms.gle/7hYbftFkagRP9kzC9" target="_blank" rel="noopener">here</a>!
    </p>

    <div class="lg:grid lg:grid-cols-3 lg:gap-2 mt-8">
        {
            ideas.map(idea => <Idea slug={idea.slug} title={idea.title} summary={idea.summary} suggester={idea.suggester}/>)
        }
    </div>
</Layout>