---
import Layout from "../layouts/main.astro";
import Idea from "../components/Idea.astro";
import type Props from "../components/Idea.astro";
import Link from "../components/Link.astro";

import {IDEAS} from "../config"

function shuffle(array) {
    for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
    }
}
//shuffle(DATA_IDEAS.ideas)
---

<Layout title="Mod Ideas" description="Ideas and inspirations to help you make your SpookyJam mods!">

    <p>
        Are you having issues coming up with an idea for SpookyJam? Don't worry, this type of thing happens to everyone
        from time to time. The following list of ideas has been put together by our community to help inspire you!
    </p>

    <div class="lg:grid lg:grid-cols-3 lg:gap-2 mt-8">
        {
            Array.from(IDEAS.values()).map(idea => <Idea slug={idea.slug} title={idea.title} summary={idea.summary} suggester={idea.suggester}/>)
        }
    </div>
</Layout>